body, html {
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #5a5a5a;
}
h1 {
}
h1 strong {
	font-weight: 900;
}
h2 {
	text-transform: uppercase;
	line-height: 20px;
	margin: 0;
}
h3 {
	font-size: 16px;
	font-weight: 700;
}
h4 {
	text-transform: uppercase;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-family: 'Open Sans', sans-serif;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
a {
	color: #D2527F
}
a:hover, a:focus {
	text-decoration: none;
	color: #9D3D5F;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	text-transform: uppercase;
	font-size: 22px;
	color: #fff;
	font-weight: 900;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #D2527F;
}
.on {
	background-color: #222222 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #D2527F !important;
	background-color: transparent;
	font-weight: 700;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #D2527F;
	border-color: #D2527F;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}

/* Home Style */
header {
	/*background: url(../img/bg1.jpg) no-repeat bottom center fixed;*/
	background-size: cover;
	color: #cfcfcf;
	position: relative;
	height: 100%;
}
header p {
	color: #ffffff;
	font-size: 22px;
}

/* -------------------------------------  */
#background-section 
{
	background: url(../img/bg3.jpeg);
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
	padding: 20px 0;
}

#background .item {
	display: block;
	width: 100%;
	height: auto;
}
#background .item p {
	font-weight: 400;

	color: #eee;
}
/* -------------------------------------  */

.intro-text {
	position: relative;
	padding-top: 300px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 150px;
}
.intro-text H1 {
	font-size: 40px;
	text-transform: uppercase;
	color: #fff;
}
.color {
	color: #D2527F;
}
a.fa.fa-angle-down {
	padding: 10px 15px;
	color: #fff;
	font-size: 24px;
	margin-top: 150px;
	border: 0px solid #E74C3C;
	transition: all 0.5s;
	border-radius: 50%;
	background-color: #D2527F;
}
a.fa.fa-angle-down:hover {
	background: #9D3D5F;
}
/* About Section */
#about-section {
	padding: 15px 0;
	background-color: #eee;
}
#about-section i {
	float: left;
	display: block;
	margin-right: 10px;
	color: #D2527F;
	font-size: 24px;
}
#about-section p {
	margin-top: 10px;
	margin-bottom: 30px;
}
/* Team Section */
#team-section {
	padding: 80px 0;
}
.section-title.center {
	padding: 20px 0 0 0;
}
.section-title h2, .section-title.center h2 {
	font-weight: 400;
	margin-bottom: 30px;
}
.section-title.center hr {
	height: 1px;
	width: 60px;
	text-align: center;
	position: relative;
	background: #D2527F;
	border: 0;
}
#team-section .item {
	padding: 0;
	margin: 15px;
	text-align: center;
}
img.img-circle.team-img {
	width: 120px;
	height: 120px;
	border: 4px solid transparent;
	transition: all 0.5s;
}
#team-section .team .thumbnail:hover>img.img-circle.team-img {
	border: 4px solid #D2527F;
	font-size: medium;
}
#team-section .thumbnail {
	background: transparent;
	border: 0;
}
#team-section .thumbnail .caption {
	padding: 9px;
	color: #5a5a5a;
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=1);
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 20px;
	border-radius: 0;
	background: #FFFFFF;
	transition: all 0.5s;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
	background: #D2527F;
}
.owl-theme .owl-controls .owl-page.active span {
	background: #D2527F;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/* Services Section */
#services-section {
	padding: 80px 0;
	background-color: #eee;
}
.space {
	margin-top: 40px;
}
#services-section i.fa {
	font-size: 40px;
	border: 2px solid #fff;
	width: 100px;
	height: 100px;
	padding: 27px 25px;
	margin-bottom: 10px;
	border-radius: 50%;
	transition: all 0.5s;
	color: #D2527F;
}
#services-section i.fa.fa-mobile {
	font-size: 50px;
	padding: 20px 25px;
}
#services-section .service:hover>i.fa {
	border: 2px solid #D2527F;
	background: #D2527F;
	color: #ffffff;
}
/* Gallery Section 
==============================*/
#works-section {
	padding: 40px 0;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
#works-section li.pull-right {
	margin-top: 10px;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li:after {
	content: ' | ';
	margin-left: 20px;
}
ol.type li:last-child:after {
	content: '';
}
ol.type li a {
	color: #222222
}
ol.type li a.active {
	color: #D2527F;
	font-weight: bold;
}
ol.type li a:hover {
	color: #D2527F;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin-bottom: 30px;
}
.portfolio-item .hover-bg {
	height: 260px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 10% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}

#works-section i.fa {
	height: 30px;
	width: 30px;
	border: 1px solid #D2527F;
	font-size: 20px;
	padding: 5px;
	border-radius: 50%;
	color: #D2527F;
}

#testimonials-section {
	background: url(../img/bg.jpeg);
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
	padding: 20px 0;
}

#testimonial .item {
	display: block;
	width: 100%;
	height: auto;
}
#testimonial .item p {
	font-weight: 400;

	color: #eee;
}

/* Contact Section */
#contact-section {
	padding: 30px 0;
}
#contact-section h3 {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}
#contact-section form {
	padding: 30px 0;
}
#contact-section .fa {
	color: #D2527F;
	margin-bottom: 10px;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact-section .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact-section .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#contact-section .btn {
	background: #D2527F;
	border: 0;
	border-radius: 4px;
	padding: 10px 20px;
	color: #ffffff;
	text-transform: uppercase;
}
#contact-section .btn:hover, #contact-section .btn:focus {
	background: #9D3D5F;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer */
nav#footer {
	background: #222222;
	color: #ddd;
	padding: 10px 0 4px 0;
}
nav#footer .fnav {
	vertical-align: middle;
}
ul.footer-social li {
	display: inline-block;
	margin-right: 10px;
}
nav#footer p {
	font-size: 12px;
	margin-top: 10px;
}
#footer i.fa {
	height: 30px;
	width: 30px;
	font-size: 20px;
	padding: 4px 5px;
	color: #ddd;
	transition: all 0.5s;
}
#footer i.fa:hover {
	color: #D2527F;
}





/* -----------------------------------------------------------  */
#frame 
{/*----------图片轮播相框容器----------*/
position: absolute; /*--绝对定位，方便子元素的定位*/
width: 1000px;
height: 500px;
overflow: hidden;/*--相框作用，只显示一个图片---*/
border-radius:5px;
}

#dis 
{/*--绝对定位方便li图片简介的自动分布定位---*/
position: absolute;
left: -50px;
top: -10px;
opacity: 0.5;
}
#dis li 
{
display: inline-block;
width: 200px;
height: 20px;
margin: 0 50px;
float: left;
text-align: center;
color: #fff;
border-radius: 10px;
background: #000;
}
#photos img 
{
float: left;
width:600px;
height:300px;
}
#photos 
{/*---设置总的图片宽度--通过位移来达到轮播效果----*/
position: absolute;z-index:9px;
width: calc(300px * 5);/*---修改图片数量的话需要修改下面的动画参数*/
}
.play
{
animation: ma 20s ease-out infinite alternate;/**/
}
@keyframes ma 
{/*---每图片切换有两个阶段：位移切换和静置。中间的效果可以任意定制----*/
0%,20% {    margin-left: 0px;   }
25%,40% {   margin-left: -300px;    }
45%,60% {   margin-left: -600px;    }
65%,80% {   margin-left: -900px;    }
85%,100% {  margin-left: -1200px;   }
}
.num
{
position:absolute;z-index:10;
display:inline-block;
right:10px;top:165px;
border-radius:100%;
background:#f00;
width:25px;height:25px;
line-height:25px;
cursor:pointer;
color:#fff;
text-align:center;
opacity:0.8;
}
.num:hover{background:#00f;}
.num:hover,#photos:hover{animation-play-state:paused;}
.num:nth-child(2){margin-right:30px}
.num:nth-child(3){margin-right:60px}
.num:nth-child(4){margin-right:90px}
.num:nth-child(5){margin-right:120px}
#a1:hover ~ #photos{animation: ma1 .5s ease-out forwards;}
#a2:hover ~ #photos{animation: ma2 .5s ease-out forwards;}
#a3:hover ~ #photos{animation: ma3 .5s ease-out forwards;}
#a4:hover ~ #photos{animation: ma4 .5s ease-out forwards;}
#a5:hover ~ #photos {animation: ma5 .5s ease-out forwards;}
@keyframes ma1 {0%{margin-left:-1200px;}100%{margin-left:-0px;} }
@keyframes ma2 {0%{margin-left:-1200px;}100%{margin-left:-300px;}   }
@keyframes ma3 {100%{margin-left:-600px;}   }
@keyframes ma4 {100%{margin-left:-900px;}   }
@keyframes ma5 {100%{margin-left:-1200px;}  }


